{% extends 'base.html' %}

{% block header %}
<header class="border-b-8 border-indigo-700 bg-white w-full h-14 sticky top-0 z-50">
    <nav class="flex items-center justify-between h-full relative">
        <h2 class="ml-5 uppercase text-2xl font-black"><a href="{% url 'index' %}">SocialArt</a></h2>
        <div class="relative">
            <a href="{% url 'login' %}"
                class="mr-5 border-b-2 border-black transition-all ease-in delay-[10ms] hover:border-amber-600 hover:text-amber-600">Login</a>
            <a class="mr-5 border-b-2 border-black transition-all ease-in delay-[10ms] hover:border-amber-600 hover:text-amber-600"
                href="{% url 'register' %}">Sign up</a>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<main class="w-full h-[calc(100%-3.5rem)] bg-neutral-200 flex items-center">
    <section class="w-1/2 flex flex-row-reverse items-center justify-between ml-2">
        <img src="https://www.spain.info/export/sites/segtur/.content/imagenes/reportajes/cataluna/sagrada-familia-interior.jpg"
            alt="portada">
    </section>
    <section class="w-1/2 flex flex-col gap-2 justify-center -pt-2">
        <header>
            <h2 class="text-2xl font-black text-center pr-8 flex flex-col uppercase">
                <span>
                    ART ONLY EXPANDS GREATNESS
                </span>
                <span>
                    AND HUMAN COMPLEXITY.
                </span>
            </h2>
        </header>
        <main class="px-8">
            <p class="text-lg font-medium">Would you like to share your creativity with the world but don't know how? We
                have the perfect solution for you! Our
                platform offers a space to post people's art, no matter their experience or skill level. Join our
                community and make
                your talent shine!
            </p>
        </main>
        <footer class="px-8 w-full flex items-center justify-center">
            <a href="{% url 'login' %}"
                class="mr-5 font-semibold border-b-2 border-black transition-all ease-in delay-[10ms] hover:border-amber-600 hover:text-amber-600">Login</a>
            <a class="mr-5 font-semibold border-b-2 border-black transition-all ease-in delay-[10ms] hover:border-amber-600 hover:text-amber-600"
                href="{% url 'register' %}">Sign up</a>
        </footer>
    </section>
</main>
{% endblock %}