{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div>
    <section>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <div>
            <div>
                <h2>Login with</h2>
                <a href="">Facebook</a>
                <a href="">Instagram</a>
                <a href="">Facebook</a>
            </div>
            <div>
                <h2>Do you haven't account?</h2>
                <a href="{% url 'register' %}">Login</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}