{% extends 'base.html' %}

{% block header %}
<header class="border-b-8 border-indigo-700 bg-white w-full h-14 sticky top-0 z-50">
    <nav class="flex items-center justify-between h-full relative">
        <h2 class="ml-5 uppercase text-2xl font-black"><a href="{% url 'index' %}">SocialArt</a></h2>
        <div class="relative">
            <a href="{% url 'home' %}"
                class="mr-5 border-b-2 border-black transition-all ease-in delay-[10ms] hover:border-amber-600 hover:text-amber-600">Home</a>
        </div>
    </nav>
</header>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center w-full">
    <h1 class="text-3xl font-black uppercase text-center py-2">SEARCH FOR USERS TO MAKE NEW FRIENDS :D.</h1>
    <form method="get" class="w-full flex items-center justify-center gap-2 w-11/12">
        <input class="w-2/3 py-2 px-2" type="text" name="q" placeholder="Buscar usuarios..."
            value="{{ request.GET.q }}">
        <button
            class="self-center w-1/4 bg-indigo-600 text-slate-200 px-3 py-2 font-bold transition-all ease-in delay-[10ms] hover:bg-indigo-700 capitalize"
            type="submit">Search</button>
    </form>
    {% if users %}
    <h2>Resultados de la búsqueda:</h2>
    <table class="w-1/2">
        <thead class="bg-indigo-600 text-slate-200">
            <tr>
                <th>Name</th>
                <th>Send request</th>
            </tr>
        </thead>
        <tbody class="py-2">
            {% for user in users %}
            <tr class="bg-white text-center">
                <td class="border-r-2 border-black my-2">{{ user.username }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="friend_id" value="{{ user.id }}">
                        <button type="submit"
                            class="bg-indigo-600 text-slate-200 px-3 py-2 font-semibold transition-all ease-in delay-[10ms] hover:bg-indigo-700 capitalize">Send
                            Friend Request</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="w-full flex flex-col items-center py-5 gap-2">
        <img src="https://icon-library.com/images/unhappy-face-icon/unhappy-face-icon-24.jpg" class="w-3/12"
            loading="lazy" alt="">
        <h2 class="text-xl font-bold text-center">But what has happened? Apparently there is no one with that name or
            you have not searched correctly.</h2>
    </div>
    {% endif %}
</main>
{% endblock %}