#id_content{
    display: block;
    overflow: hidden;
    resize: none;
    height: 32px;
    width: 100%;
    background-color: #e6e6e6;
    padding: 0.25em;
    padding-bottom: 0.4em;
    outline: none;
    border: 2px solid #E2E8f0;
    border-radius: 10q;
}

#id_url_image{
    background-color: #e6e6e6;
    height: 32px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 10q;
    padding: 0.25em;
    padding-bottom: 0.4em;
}

#id_username, #id_password, #id_email, #id_password2, #id_password1{
    display: inline;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

form p{
    margin-top: 1em;
}

.helptext{
    display: none;
}